body{
    font-family: "Delius", serif;
}

.top{
    display: flex;
    justify-content: center;
}
.head{
    color: #206864;
}

.main-form{
    padding: 40px 5px;
}

.container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 15px 0;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
textarea[name="message"],
select,
.submit{
    font-family: "Delius", serif;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea{
    resize: none;
}

.submit{
    background-color: #206864;
    color: white;
    cursor: pointer;
    font-family: "Delius", serif;
    text-decoration: none;
}

.submit:hover{
    background-color: #feca08;
}

