body{
  font-family: "Delius", serif;
}
  
  .carousel {
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    /* border: 2px solid #ddd; */
    border-radius: 10px;
    position: relative;
    box-shadow: 1px 1px 10px;
    aspect-ratio: 16 / 9;
    margin: auto;
  }
  
 
  
  .carousel-slide {
    min-width: 100%;
    height: 300px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
  }
  
  
  
  @keyframes slide {
    0% {
      transform: translateX(0%);
    }
    30% {
      transform: translateX(-100%);
    }
    60% {
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  .carousel-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    animation: slide 15s infinite;
  }
  
  .img1{
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
  @media screen and (max-width: 1000px) {
    .carousel{
      margin: auto;
      width: 70%;
    }
  }

  .carousel-caption{
    z-index: 10;
    color: black;
    font-size: 20px;
  }

  .navbar-brand .w-50{
    width: 130px;
    /* height: 100px; */
    border-radius: 50px;
}

.navbar-nav{
    /* display: flex; */
    list-style: none;
    /* box-shadow: 1px 1px 10px black; */
}
.navbar-nav{
  display: flex;
}
.navbar-nav li{
    display: inline-block;
    position: relative;
}
.navbar-nav li a{
    display: block;
    padding: 20px 25px;
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 23px;
}
.navbar-nav li .dropdown li{
    display: flex;
    
}
.navbar-nav li .dropdown{
    width: 100%;
    background: white;
    position: absolute;
    z-index: 999;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navbar-nav li a:hover{
    background: white;
    color: #206864;
}
.navbar-nav li:hover .dropdown{
display: block;
}





@media screen and (max-width: 1118px) {
  .navbar-nav{
      /* display: none; */
  }

}


 
.header-1{
    text-align: center;
    margin: 15px;
}
.header-1 span{
  color: #feca08;
}
.header {
    display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 30px; /* Space between elements */
  padding: 20px;
  float: inline-start;
}
.img{
    width: 300px; /* Adjust as needed */
    /* float: left; */
    border-radius: 8px; 
    box-shadow: 1px 1px 10px;
}

.para-1 h2{
    text-align: center;
    color: #206864;
}
.para-1 p{
    margin: 20px;
    font-size: 25px;
    color: rgb(66, 66, 66);
}

/* Medium screens (tablets, 768px) */
@media screen and (min-width: 768px) {
  .header-1 {
    font-size: 20px; /* Larger font size for tablets and up */
  }
}

/* Large screens (desktops, 1200px) */
@media screen and (min-width: 1200px) {
  .header-1 {
    font-size: 14px; /* Even larger font size for desktops */
  }
}
@media screen and (max-width: 768px){
    .header{
        flex-direction: column; /* Stack items vertically */
        text-align: center; /* Center align the text */
    }
    .para-1{
        
        text-align: center;
        
    }
}

.service{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 36%;
  background: url(/images/newbg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #206864;
}

.top{
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: #feca08;
}
.inside{
  display: flex;
}
@media  screen and (max-width: 992px) {
  .inside{
    flex-direction: column;
    /* width: 750px; */
  }
}
.text-centre h2{
  display: flex;
  justify-content: center;
}
#textpara{
  padding: 10px;
}

#textpara p{
  color: #fff;
  padding: 20px;
  font-size: 20px;
}

.test{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 50px 0;
}
.testimonial{
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: #206864;
}
.people{
  display: flex;
  padding: 10px 60px;
}
@media  screen and (max-width: 992px) {
  .people{
    flex-direction: column;
    /* width: 750px; */
  }
}
.names h2{
  display: flex;
  justify-content: center;
}
.names p{
  font-size: 20px;
  color: rgb(66, 66, 66);
  padding: 15px;
}
.text{
  padding: 10px;
}

.travel{
  background-color: #206864;
}
.zoomimage{
  width: 400px;
  height: 400px;
  border-radius: 8px; 
  box-shadow: 1px 1px 16px black;
  transition: transform 0.5s ease;
}
.contains{
  padding: 5px 30px;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}
.caption{
  padding: 0 30px 35px;
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  font-size: 20px;
  color: #fff;
}
.texttop{
  position: relative;
  text-align: center;
  color: white;
}
.left {
  position: absolute;
  top: 8px;
  left: 16px;
}
#article{
  padding: 0 0 40px;
  text-align: center;
}
#article button{
  background-color: #feca08;
  font-size: 30px;
  color: #fff;
  font-family: "Delius", serif;
}
#article button:hover{
  color: #206864;
}





.endcolumn{
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #206864;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 10%;
}
#footer1{
  padding: 0 20px;
  width: 60%;
  margin-left: 20px;
}
#footer1 h5{
  color: #fff;
}

#footer2{
  padding: 0 20px;
  width: 20%;
}
#footer2 h5{
  justify-content: center;
  display: flex;
}

#footer3{
  padding: 0 20px;
  width: 20%;
}
#footer3 h5{
  justify-content: center;
  display: flex;
}

.listitem{
  display: flex;
}
.list{
  list-style: none;
}
.list li a{
  color: #fff;
  text-decoration: none;
  justify-content: center;
  display: flex;
  align-items: center;
}
.rights{
  padding: 10px;
}
.text-center a{
  color: #fff;
  text-decoration: none;
}
.text-center{
  justify-content: center;
  display: flex;
}
