body{
    font-family: "Delius", serif;
}
.header{
    justify-content: center;
    display: flex;
}
.article{
    padding: 10px 30px;
    margin: 0 50px;
}
.articlename{
    float: left;
}
.articledate{
    float: right;
}
.head{
    padding-top: 20px;
    margin: 0 50px;
}
.head2{
    /* padding-top: 20px; */
    margin: 0 50px;
}
h3{
    margin: 0 50px;
    padding: 20px;
}
.detail{
    margin: 0 50px;
}
#last{
    margin-top: 30px;
}


.service{
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #206864;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 10%;
}
#footer1{
    padding: 0 20px;
    width: 60%;
    margin-left: 20px;
}
#footer1 h5{
    color: #fff;
}

#footer2{
    padding: 0 20px;
    width: 20%;
}
#footer2 h5{
    justify-content: center;
    display: flex;
}

#footer3{
    padding: 0 20px;
    width: 20%;
}
#footer3 h5{
    justify-content: center;
    display: flex;
}

.listitem{
    display: flex;
}
.list{
    list-style: none;
}
.list li a{
    color: #fff;
    text-decoration: none;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 5px;
}
.rights{
    padding: 10px;
}
.text-center a{
    color: #fff;
    text-decoration: none;
}
.text-center{
    justify-content: center;
    display: flex;
}
img{
    width: 300px;
    height: 300px;
    box-shadow: 1px 1px 10px;
}
.zoomimage{
    justify-content: center;
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 10px;
    transition: transform 0.5s ease; /* Smooth animation */
}
